@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap");

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  width: 1250px;
  height: 100%;
  margin: 50px;
}

/* about 상단  */
.about-content-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.about-content-top-title {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.about-content-top-text {
  margin-top: 30px;
  text-align: center;
}

.about-content-top-text p {
  line-height: 1.8;
}

.about-span {
  font-weight: 600;
  color: rgb(58, 58, 58);
}

/* about 이미지 */
.about-content-img {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.about-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-content-img-text {
  font-family: "EB Garamond", serif;
  position: absolute;
  bottom: 40px;
  right: 50px;
  color: white;
  font-size: 5rem;
  letter-spacing: 2.5px;
}

/* about 하단  */
.about-content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-color: #f9f1e7;
}

.about-content-bottom-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 40px 0 20px;
  padding-bottom: 5px;
  border-bottom: 5px solid #ffcf81;
}

.about-content-bottom-text {
  line-height: 1.8;
  text-align: center;
}
