.user-category {
  display: flex;
  flex-direction: column;
  width: 15%;
  /* background-color: #f5deb3; */
}
.user-category p {
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.user-category ul {
  padding: 0;
  width: 100%;
  list-style: none;
}

.user-category .list {
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 45px;
}
.list .list-link {
  text-decoration: none;
  color: #b1892c;
}

.list-link .list-li {
  margin: 5px 0;
}

.list a :hover {
  color: #9c761d;
  font-weight: 600;
}

.selected {
  text-decoration: none;
  color: #9c761d;
  font-weight: bolder;
}
