.user-category {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: white;
  border-radius: 5px;
  margin-right: 20px;
  height: 85%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.user-category p {
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.user-category ul {
  padding: 0;
  width: 100%;
  list-style: none;
}

.user-category .list {
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 45px;
}
.list .list-link {
  text-decoration: none;
  color: #221f1d;
  margin: 10px 0;
  font-size: 1rem;
}
.list-link li {
  margin: 20px 0;
}
.list a :hover {
  color: #1c0a00;
  font-weight: 600;
}

.selected {
  font-size: 1rem;
  text-decoration: none;
  color: #1c0a00;
  font-weight: bolder;
}
.selected li {
  margin: 20px 0;
}
