.cart-item-container {
  display: flex;
  width: 817px;
  height: 150px;
}

.cart-item-container {
  display: flex;
  justify-content: center;
}

.cart-item-image-container {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  margin-right: 20px;
  overflow: hidden;
  background-color: #b88e2f;
}

.cart-item-image-container {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.cart-item-contents {
  display: flex;
  align-items: center;
  color: #9f9f9f;
}

.cart-item-contents-center {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9f9f9f;
}

.cart-item-quantity {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid #9f9f9f;
}

.cart-item-icon {
  color: #b88e2f;
  cursor: pointer;
}
