.shopContainer {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 배너 이미지 */
.bannerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  z-index: 0;
}
.bannerImg img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  z-index: -1;
  filter: blur(0.8px);
  opacity: 0.6;
}

/* 옵션 */
.shop-option-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #f9f1e7;
}

.shop-option-left {
  display: flex;

  width: 400px;
  font-size: 1.1rem;
}

.shop-option-left-cateogry {
  display: flex;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}

.shop-option-left-cateogry-selected {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-weight: 600;
  cursor: pointer;
}

.shop-option-rigth {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
}

.shop-option-rigth-show {
  margin-left: 20px;
  border: none;
  width: 55px;
  height: 55px;
}

.shop-option-rigth-sort {
  margin-left: 20px;
  border: none;
  width: 188px;
  height: 55px;
}
