.product {
  position: relative;
  margin: 20px;
  width: 260px;
  overflow: hidden;
}

.product .productImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}
.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;
}

.productInfo p {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: rgb(58, 58, 58);
}
.productInfo span {
  color: rgb(154, 154, 154);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.product .productAddCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 260px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s;
  opacity: 0;
}
.productAddCart:hover {
  opacity: 1;
}

.AddCartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
}

.productIcon {
  display: flex;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.productIcon p {
  margin: 0 10px;
}
