* {
  margin: 0;
  box-sizing: border-box;
}

.basic-container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.base-color {
  background-color: rgb(228, 228, 228);
}

.basic-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.brown-btn {
  color: #474747;
  background: #f9f1e7;
}

.basic-btn:hover {
  background: #dacfc1;
}

.select-box {
  width: 150px;
  height: 35px;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
}

.LinkTag {
  text-decoration: none;
  color: black;
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.short-divider {
  width: 10%;
  border-top: 5px solid #ffcf81;
}

.align_center {
  display: flex;
}

table {
  border: 1px #b88e2f solid;
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 1200px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: left;
}

thead {
  font-weight: bold;
  color: #474747;
  background: #f9f1e7;
}

td,
th {
  padding: 1em 3em;
  vertical-align: middle;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

a {
  color: #73685d;
}

@media all and (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    text-align: right;
  }

  table {
    position: relative;
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  thead {
    float: left;
    white-space: nowrap;
  }

  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }

  tr {
    display: inline-block;
    vertical-align: top;
  }

  th {
    border-bottom: 1px solid #a39485;
  }

  td {
    border-bottom: 1px solid #e5e5e5;
  }
}
