.board-write-wrapper {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-write-container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 1000px;
}

.board-write-box {
  padding-top: 20px;
  display: flex;
  width: 100%;
}

.board-write-title-box {
  font-size: 1.2rem;
  margin: 20px 0;
  font-weight: 600;
}

.board-write-images-box {
  width: 30%;
}

.board-write-image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 440px;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.board-write-image {
  width: 320px;
  height: 320px;
  border-radius: 10px;
  border: 1px solid #a7a0a0;
}

.board-write-image-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/photo@2x.png);
  background-repeat: no-repeat;
}

.board-write-image-icon-side {
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 1px solid #a7a0a0;
  border-radius: 10px;
}

.board-write-image-side {
  width: 120px;
  height: 120px;
}

.add-main-img {
  width: 80px;
  height: 80px;
}

.icon-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50% 50%;
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-write-content-box {
  margin: 0 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.board-write-content-box-top {
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  height: 500px;
}
.content-box-top-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.board-write-input {
  border: 1px solid #a7a0a0;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

.board-write-label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
}
.board-write-content-box-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  height: 300px;
}

.board-write-content-textarea {
  border: none;
  outline: none;
  background: none;
  resize: none;

  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  height: 250px;
}
