.userPage {
  width: 1400px;
  height: 900px;
  display: flex;
  justify-content: center;
}

.user-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.user-content p {
  font-size: 1.7rem;
  height: 10%;
}

.test {
  height: 80%;
}
