.userPage {
  width: 1400px;
  height: 700px;
  display: flex;
  justify-content: center;
}

.user-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  width: 85%;
  margin-top: 6%;
}

.role-contianer {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.role-contianer p {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (height > 900px) {
  .user-content {
    height: auto;
  }

  .userPage {
    height: auto;
  }
}
