.bottom-banner-container {
  display: flex;
  width: 100%;
  height: 270px;
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background: #faf3ea;
  margin-top: 40px;
}

.bottom-banner-contents-container {
  display: flex;
  justify-content: space-between;
}

.bottom-banner-content {
  display: flex;
  margin: 0 40px;
}

.bottom-banner-icon {
  width: 70px;
  height: 70px;
}

.bottom-banner-content-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.bottom-banner-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
